/* general setups */

* {
    margin: 0;
    padding: 0;
}


/* Ensure all images take up the full width of their containers */

img {
    width: 100%;
}


/* header and footer */

header,
footer {
    background-color: #085070;
    color: whitesmoke;
}

footer {
    font-size: 1.5em;
}


/* instade of setting the bg of the paragraph it is better to set the bg of the parent */

.missing {
    background-color: rgba(244, 128, 147, 0.389);
}

/* Increase font size for larger screens */

@media(min-width:1024px) {
    .missing p {
        font-size: 2em;
    }
    h2 {
        font-size: 2.5em;
        margin-top: 40rem !important;
    }
}

@media(min-width:1440px) {
    .missing p {
        font-size: 2.5em;
    }
}


